In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import pycaret
from pycaret.classification import *

In [16]:
data = pd.read_csv('train.csv')
data

             DATETIMEDATA  PM25         O3  WS  TEMP    RH     WD
0     2024-01-01 00:00:00  16.5  16.000000   1  27.0  79.0  115.0
1     2024-01-01 01:00:00  33.6  11.326513   1  27.0  82.0   97.0
2     2024-01-01 02:00:00  34.2  11.326513   1  26.0  84.0   96.0
3     2024-01-01 03:00:00  20.1  11.326513   1  26.0  82.0  108.0
4     2024-01-01 04:00:00  16.5   1.000000   1  27.0  79.0  106.0
...                   ...   ...        ...  ..   ...   ...    ...
1411  2024-02-28 19:00:00  23.6  11.326513   1  29.0  64.0  184.0
1412  2024-02-28 20:00:00  25.2  11.326513   1  29.0  64.0  183.0
1413  2024-02-28 21:00:00  23.2   1.000000   1  29.0  64.0  159.0
1414  2024-02-28 22:00:00  24.7   3.000000   1  28.0  65.0  134.0
1415  2024-02-28 23:00:00  19.8   6.000000   1  28.0  65.0   94.0

[1416 rows x 7 columns]

In [1]:
import pandas as pd
from pycaret.regression import *

# Read the training data
train_data = pd.read_csv('train.csv')


# Convert 'DATETIMEDATA' column to datetime format
train_data['DATETIMEDATA'] = pd.to_datetime(train_data['DATETIMEDATA'])

# Set up the PyCaret regression environment
regression_setup = setup(train_data, target='O3', session_id=123, date_features=['DATETIMEDATA'], normalize=True)
best = compare_models()
# Create a Random Forest Regressor model
rf_model = create_model('et')

# Fine-tune the Random Forest Regressor model
tuned_rf_model = tune_model(rf_model)

# Ensemble the tuned Random Forest Regressor model
bagged_model = ensemble_model(tuned_rf_model, n_estimators=20)

# Get the last prediction time
last_prediction_time = train_data['DATETIMEDATA'].max()

# Generate datetime values for every hour of each day from the last prediction time to the end of the next week
start_date = last_prediction_time + pd.DateOffset(hours=1)  # Start date for new predictions
end_date = start_date + pd.DateOffset(days=7, hours=23)  # End date for next week
next_week_hours = pd.date_range(start=start_date, end=end_date, freq='D')

# Create a DataFrame with 'DATETIMEDATA' column for every hour of each day within the next week
next_week_data = pd.DataFrame({'DATETIMEDATA': next_week_hours})

# Add columns for 'O3', 'WS', 'TEMP', 'RH', 'WD' with placeholder values of 0
next_week_data['PM25'] = 0
next_week_data['WS'] = 0
next_week_data['TEMP'] = 0
next_week_data['RH'] = 0
next_week_data['WD'] = 0

# Predict PM25 for every hour of each day within the next week
model_predictions = predict_model(bagged_model, data=next_week_data)

mpdf = pd.DataFrame(model_predictions, columns=['DATETIMEDATA', 'prediction_label'])

mpdf.rename(columns={'prediction_label': 'O3'}, inplace=True)

print(mpdf)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

  DATETIMEDATA         O3
0   2024-02-29  12.577879
1   2024-03-01   9.329538
2   2024-03-02   9.292464
3   2024-03-03   9.786587
4   2024-03-04  10.794685
5   2024-03-05  11.083334
6   2024-03-06  10.968511
7   2024-03-07  11.484497

In [2]:

mpdf.to_csv('predict_O3.csv', index=False)

In [5]:
save_model(bagged_model,'predict_O3')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('date_feature_extractor',
                  TransformerWrapper(include=['DATETIMEDATA'],
                                     transformer=ExtractDateTimeFeatures())),
                 ('numerical_imputer',
                  TransformerWrapper(include=['PM25', 'WS', 'TEMP', 'RH', 'WD'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('normalize', TransformerWrapper(transformer=StandardScaler())),
                 ('trained_model',
                  BaggingRegressor(estimator=ExtraTreesRegressor(bootstrap=True,
                                                                 max_depth=9,
                                                                 min_impurity_decrease=0.1,
                                                                 min_samples_leaf=4,
                                                                 min_samples_split=7,
                                                                 n_jobs=-1,
                                                                 random_state=123),
                                   n_estimators=20, random_state=123))]),
 'predict_O3.pkl')

In [2]:
evaluate_model(rf_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦