In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import pycaret
from pycaret.classification import *
from pycaret.datasets import get_data

In [13]:
%pip install 'pycaret'

Requirement already satisfied: pycaret in /opt/homebrew/lib/python3.11/site-packages (3.2.0)
Requirement already satisfied: category-encoders>=2.4.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (2.6.3)
Requirement already satisfied: cloudpickle in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (3.0.0)
Requirement already satisfied: deprecation>=2.1.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (2.1.0)
Requirement already satisfied: imbalanced-learn>=0.8.1 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (0.12.0)
Requirement already satisfied: importlib-metadata>=4.12.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (7.0.1)
Requirement already satisfied: ipython>=5.5.0 in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from pycaret) (8.21.0)
Requirement already satisfied: ipywidgets>=7.6.5 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (8.1.2)
Requirement already satisfied: jinja2>=1.2 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (3.1.2)
Requirement already satisfied: joblib>=1.2.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (1.3.2)
Requirement already satisfied: kaleido>=0.2.1 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (0.2.1)
Requirement already satisfied: lightgbm>=3.0.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (4.3.0)
Requirement already satisfied: markupsafe>=2.0.1 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (2.1.3)
Requirement already satisfied: matplotlib<=3.6,>=3.3.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (3.6.0)
Requirement already satisfied: nbformat>=4.2.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (5.9.2)
Requirement already satisfied: numba>=0.55.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (0.59.0)
Requirement already satisfied: numpy<1.27,>=1.21 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (1.25.2)
Requirement already satisfied: pandas<2.0.0,>=1.3.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (1.5.3)
Requirement already satisfied: plotly-resampler>=0.8.3.1 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (0.9.2)
Requirement already satisfied: plotly>=5.0.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (5.18.0)
Requirement already satisfied: pmdarima!=1.8.1,<3.0.0,>=1.8.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (2.0.4)
Requirement already satisfied: psutil>=5.9.0 in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from pycaret) (5.9.8)
Requirement already satisfied: pyod>=1.0.8 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (1.1.3)
Requirement already satisfied: requests>=2.27.1 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (2.31.0)
Requirement already satisfied: schemdraw==0.15 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (0.15)
Requirement already satisfied: scikit-learn<1.3.0,>=1.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (1.2.2)
Requirement already satisfied: scikit-plot>=0.3.7 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (0.3.7)
Requirement already satisfied: scipy~=1.10.1 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (1.10.1)
Requirement already satisfied: sktime!=0.17.1,!=0.17.2,!=0.18.0,<0.22.0,>=0.16.1 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (0.21.1)
Requirement already satisfied: statsmodels>=0.12.1 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (0.14.1)
Requirement already satisfied: tbats>=1.1.3 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (1.1.3)
Requirement already satisfied: tqdm>=4.62.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (4.66.2)
Requirement already satisfied: xxhash in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (3.4.1)
Requirement already satisfied: yellowbrick>=1.4 in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (1.5)
Requirement already satisfied: wurlitzer in /opt/homebrew/lib/python3.11/site-packages (from pycaret) (3.0.3)
Requirement already satisfied: patsy>=0.5.1 in /opt/homebrew/lib/python3.11/site-packages (from category-encoders>=2.4.0->pycaret) (0.5.6)
Requirement already satisfied: packaging in /opt/homebrew/lib/python3.11/site-packages (from deprecation>=2.1.0->pycaret) (23.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/homebrew/lib/python3.11/site-packages (from imbalanced-learn>=0.8.1->pycaret) (3.3.0)
Requirement already satisfied: zipp>=0.5 in /opt/homebrew/lib/python3.11/site-packages (from importlib-metadata>=4.12.0->pycaret) (3.17.0)
Requirement already satisfied: decorator in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from ipython>=5.5.0->pycaret) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from ipython>=5.5.0->pycaret) (0.19.1)
Requirement already satisfied: matplotlib-inline in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from ipython>=5.5.0->pycaret) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from ipython>=5.5.0->pycaret) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/homebrew/lib/python3.11/site-packages (from ipython>=5.5.0->pycaret) (2.17.2)
Requirement already satisfied: stack-data in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from ipython>=5.5.0->pycaret) (0.6.3)
Requirement already satisfied: traitlets>=5 in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from ipython>=5.5.0->pycaret) (5.14.1)
Requirement already satisfied: pexpect>4.3 in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from ipython>=5.5.0->pycaret) (4.9.0)
Requirement already satisfied: comm>=0.1.3 in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from ipywidgets>=7.6.5->pycaret) (0.2.1)
Requirement already satisfied: widgetsnbextension~=4.0.10 in /opt/homebrew/lib/python3.11/site-packages (from ipywidgets>=7.6.5->pycaret) (4.0.10)
Requirement already satisfied: jupyterlab-widgets~=3.0.10 in /opt/homebrew/lib/python3.11/site-packages (from ipywidgets>=7.6.5->pycaret) (3.0.10)
Requirement already satisfied: contourpy>=1.0.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib<=3.6,>=3.3.0->pycaret) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib<=3.6,>=3.3.0->pycaret) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib<=3.6,>=3.3.0->pycaret) (4.47.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib<=3.6,>=3.3.0->pycaret) (1.4.5)
Requirement already satisfied: pillow>=6.2.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib<=3.6,>=3.3.0->pycaret) (10.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib<=3.6,>=3.3.0->pycaret) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib<=3.6,>=3.3.0->pycaret) (2.8.2)
Requirement already satisfied: fastjsonschema in /opt/homebrew/lib/python3.11/site-packages (from nbformat>=4.2.0->pycaret) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in /opt/homebrew/lib/python3.11/site-packages (from nbformat>=4.2.0->pycaret) (4.21.1)
Requirement already satisfied: jupyter-core in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from nbformat>=4.2.0->pycaret) (5.7.1)
Requirement already satisfied: llvmlite<0.43,>=0.42.0dev0 in /opt/homebrew/lib/python3.11/site-packages (from numba>=0.55.0->pycaret) (0.42.0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas<2.0.0,>=1.3.0->pycaret) (2023.3.post1)
Requirement already satisfied: tenacity>=6.2.0 in /opt/homebrew/lib/python3.11/site-packages (from plotly>=5.0.0->pycaret) (8.2.3)
Requirement already satisfied: dash>=2.9.0 in /opt/homebrew/lib/python3.11/site-packages (from plotly-resampler>=0.8.3.1->pycaret) (2.15.0)
Requirement already satisfied: orjson<4.0.0,>=3.8.0 in /opt/homebrew/lib/python3.11/site-packages (from plotly-resampler>=0.8.3.1->pycaret) (3.9.14)
Requirement already satisfied: tsdownsample==0.1.2 in /opt/homebrew/lib/python3.11/site-packages (from plotly-resampler>=0.8.3.1->pycaret) (0.1.2)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in /opt/homebrew/lib/python3.11/site-packages (from pmdarima!=1.8.1,<3.0.0,>=1.8.0->pycaret) (3.0.8)
Requirement already satisfied: urllib3 in /opt/homebrew/lib/python3.11/site-packages (from pmdarima!=1.8.1,<3.0.0,>=1.8.0->pycaret) (2.1.0)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in /opt/homebrew/lib/python3.11/site-packages (from pmdarima!=1.8.1,<3.0.0,>=1.8.0->pycaret) (68.2.2)
Requirement already satisfied: six in /opt/homebrew/lib/python3.11/site-packages (from pyod>=1.0.8->pycaret) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/homebrew/lib/python3.11/site-packages (from requests>=2.27.1->pycaret) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/lib/python3.11/site-packages (from requests>=2.27.1->pycaret) (3.6)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/lib/python3.11/site-packages (from requests>=2.27.1->pycaret) (2023.11.17)
Requirement already satisfied: deprecated>=1.2.13 in /opt/homebrew/lib/python3.11/site-packages (from sktime!=0.17.1,!=0.17.2,!=0.18.0,<0.22.0,>=0.16.1->pycaret) (1.2.14)
Requirement already satisfied: scikit-base<0.6.0 in /opt/homebrew/lib/python3.11/site-packages (from sktime!=0.17.1,!=0.17.2,!=0.18.0,<0.22.0,>=0.16.1->pycaret) (0.5.2)
Requirement already satisfied: Flask<3.1,>=1.0.4 in /opt/homebrew/lib/python3.11/site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (3.0.0)
Requirement already satisfied: Werkzeug<3.1 in /opt/homebrew/lib/python3.11/site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (3.0.1)
Requirement already satisfied: dash-html-components==2.0.0 in /opt/homebrew/lib/python3.11/site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in /opt/homebrew/lib/python3.11/site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in /opt/homebrew/lib/python3.11/site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (5.0.0)
Requirement already satisfied: typing-extensions>=4.1.1 in /opt/homebrew/lib/python3.11/site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (4.9.0)
Requirement already satisfied: retrying in /opt/homebrew/lib/python3.11/site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (1.3.4)
Requirement already satisfied: nest-asyncio in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (1.6.0)
Requirement already satisfied: wrapt<2,>=1.10 in /opt/homebrew/lib/python3.11/site-packages (from deprecated>=1.2.13->sktime!=0.17.1,!=0.17.2,!=0.18.0,<0.22.0,>=0.16.1->pycaret) (1.16.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from jedi>=0.16->ipython>=5.5.0->pycaret) (0.8.3)
Requirement already satisfied: attrs>=22.2.0 in /opt/homebrew/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /opt/homebrew/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in /opt/homebrew/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (0.33.0)
Requirement already satisfied: rpds-py>=0.7.1 in /opt/homebrew/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (0.18.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from pexpect>4.3->ipython>=5.5.0->pycaret) (0.7.0)
Requirement already satisfied: wcwidth in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=5.5.0->pycaret) (0.2.13)
Requirement already satisfied: platformdirs>=2.5 in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from jupyter-core->nbformat>=4.2.0->pycaret) (4.2.0)
Requirement already satisfied: executing>=1.2.0 in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from stack-data->ipython>=5.5.0->pycaret) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from stack-data->ipython>=5.5.0->pycaret) (2.4.1)
Requirement already satisfied: pure-eval in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from stack-data->ipython>=5.5.0->pycaret) (0.2.2)
Requirement already satisfied: itsdangerous>=2.1.2 in /opt/homebrew/lib/python3.11/site-packages (from Flask<3.1,>=1.0.4->dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.1.2)
Requirement already satisfied: click>=8.1.3 in /opt/homebrew/lib/python3.11/site-packages (from Flask<3.1,>=1.0.4->dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in /opt/homebrew/lib/python3.11/site-packages (from Flask<3.1,>=1.0.4->dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (1.7.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:

%pip install 'pycaret[full]'

Requirement already satisfied: pycaret[full] in /opt/homebrew/lib/python3.11/site-packages (3.2.0)
Requirement already satisfied: category-encoders>=2.4.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (2.6.3)
Requirement already satisfied: cloudpickle in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (3.0.0)
Requirement already satisfied: deprecation>=2.1.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (2.1.0)
Requirement already satisfied: imbalanced-learn>=0.8.1 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (0.12.0)
Requirement already satisfied: importlib-metadata>=4.12.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (7.0.1)
Requirement already satisfied: ipython>=5.5.0 in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from pycaret[full]) (8.21.0)
Requirement already satisfied: ipywidgets>=7.6.5 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (8.1.2)
Requirement already satisfied: jinja2>=1.2 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (3.1.2)
Requirement already satisfied: joblib>=1.2.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (1.3.2)
Requirement already satisfied: kaleido>=0.2.1 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (0.2.1)
Requirement already satisfied: lightgbm>=3.0.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (4.3.0)
Requirement already satisfied: markupsafe>=2.0.1 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (2.1.3)
Requirement already satisfied: matplotlib<=3.6,>=3.3.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (3.6.0)
Requirement already satisfied: nbformat>=4.2.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (5.9.2)
Requirement already satisfied: numba>=0.55.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (0.59.0)
Requirement already satisfied: numpy<1.27,>=1.21 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (1.25.2)
Requirement already satisfied: pandas<2.0.0,>=1.3.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (1.5.3)
Requirement already satisfied: plotly-resampler>=0.8.3.1 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (0.9.2)
Requirement already satisfied: plotly>=5.0.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (5.18.0)
Requirement already satisfied: pmdarima!=1.8.1,<3.0.0,>=1.8.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (2.0.4)
Requirement already satisfied: psutil>=5.9.0 in /Users/apollo/Library/Python/3.11/lib/python/site-packages (from pycaret[full]) (5.9.8)
Requirement already satisfied: pyod>=1.0.8 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (1.1.3)
Requirement already satisfied: requests>=2.27.1 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (2.31.0)
Requirement already satisfied: schemdraw==0.15 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (0.15)
Requirement already satisfied: scikit-learn<1.3.0,>=1.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (1.2.2)
Requirement already satisfied: scikit-plot>=0.3.7 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (0.3.7)
Requirement already satisfied: scipy~=1.10.1 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (1.10.1)
Requirement already satisfied: sktime!=0.17.1,!=0.17.2,!=0.18.0,<0.22.0,>=0.16.1 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (0.21.1)
Requirement already satisfied: statsmodels>=0.12.1 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (0.14.1)
Requirement already satisfied: tbats>=1.1.3 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (1.1.3)
Requirement already satisfied: tqdm>=4.62.0 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (4.66.2)
Requirement already satisfied: xxhash in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (3.4.1)
Requirement already satisfied: yellowbrick>=1.4 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (1.5)
Requirement already satisfied: wurlitzer in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (3.0.3)
Collecting Flask==2.2.3 (from pycaret[full])
  Using cached Flask-2.2.3-py3-none-any.whl.metadata (3.9 kB)
Collecting Werkzeug<3.0,>=2.2 (from pycaret[full])
  Using cached werkzeug-2.3.8-py3-none-any.whl.metadata (4.1 kB)
Collecting boto3>=1.24.56 (from pycaret[full])
  Using cached boto3-1.34.55-py3-none-any.whl.metadata (6.6 kB)
Requirement already satisfied: dash[testing] in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (2.15.0)
Collecting evidently<0.3,>=0.1.45.dev0 (from pycaret[full])
  Using cached evidently-0.2.8-py3-none-any.whl.metadata (1.3 kB)
Collecting explainerdashboard>=0.3.8 (from pycaret[full])
  Using cached explainerdashboard-0.4.5-py3-none-any.whl.metadata (3.8 kB)
Collecting fairlearn==0.7.0 (from pycaret[full])
  Using cached fairlearn-0.7.0-py3-none-any.whl.metadata (7.3 kB)
Collecting fastapi>=0.75.0 (from pycaret[full])
  Using cached fastapi-0.110.0-py3-none-any.whl.metadata (25 kB)
Collecting fugue>=0.8.0 (from pycaret[full])
  Using cached fugue-0.8.7-py3-none-any.whl.metadata (17 kB)
Collecting gradio>=2.8.10 (from pycaret[full])
  Using cached gradio-4.19.2-py3-none-any.whl.metadata (15 kB)
Collecting hyperopt>=0.2.7 (from pycaret[full])
  Using cached hyperopt-0.2.7-py2.py3-none-any.whl.metadata (1.7 kB)
Collecting interpret>=0.2.7 (from pycaret[full])
  Using cached interpret-0.5.1-py3-none-any.whl.metadata (1.1 kB)
Collecting kmodes>=0.11.1 (from pycaret[full])
  Using cached kmodes-0.12.2-py2.py3-none-any.whl.metadata (8.1 kB)
Collecting m2cgen>=0.9.0 (from pycaret[full])
  Using cached m2cgen-0.10.0-py3-none-any.whl.metadata (9.9 kB)
Collecting mlflow<2.0.0,>=1.24.0 (from pycaret[full])
  Using cached mlflow-1.30.1-py3-none-any.whl.metadata (11 kB)
Collecting mlxtend>=0.19.0 (from pycaret[full])
  Using cached mlxtend-0.23.1-py3-none-any.whl.metadata (7.3 kB)
Collecting moto>=3.0.7 (from pycaret[full])
  Using cached moto-5.0.2-py2.py3-none-any.whl.metadata (11 kB)
Collecting optuna>=3.0.0 (from pycaret[full])
  Using cached optuna-3.5.0-py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: pytest>=7.0.1 in /opt/homebrew/lib/python3.11/site-packages (from pycaret[full]) (8.0.0)
Collecting scikit-optimize>=0.9.0 (from pycaret[full])
  Using cached scikit_optimize-0.9.0-py2.py3-none-any.whl.metadata (8.0 kB)
Collecting shap>=0.38.0 (from pycaret[full])
  Using cached shap-0.44.1-cp311-cp311-macosx_11_0_arm64.whl.metadata (24 kB)
Collecting statsforecast<1.6.0,>=0.5.5 (from pycaret[full])
  Using cached statsforecast-1.5.0-py3-none-any.whl.metadata (23 kB)
Collecting triad<=0.9.1 (from pycaret[full])
  Using cached triad-0.9.1-py3-none-any.whl.metadata (5.5 kB)
Collecting umap-learn>=0.5.2 (from pycaret[full])
  Using cached umap-learn-0.5.5.tar.gz (90 kB)
  Preparing metadata (setup.py) ... done
Collecting uvicorn>=0.17.6 (from pycaret[full])
  Using cached uvicorn-0.27.1-py3-none-any.whl.metadata (6.3 kB)
Collecting ydata-profiling>=4.3.1 (from pycaret[full])
  Using cached ydata_profiling-4.6.5-py2.py3-none-any.whl.metadata (20 kB)
INFO: pip is looking at multiple versions of pycaret[full] to determine which version is compatible with other requirements. This could take a while.
Collecting pycaret[full]
  Using cached pycaret-3.3.0-py3-none-any.whl.metadata (17 kB)
Collecting scikit-learn>1.4.0 (from pycaret[full])
  Using cached scikit_learn-1.4.1.post1-cp311-cp311-macosx_12_0_arm64.whl.metadata (11 kB)
Collecting sktime>=0.26.0 (from pycaret[full])
  Using cached sktime-0.27.0-py3-none-any.whl.metadata (29 kB)
Collecting pyyaml==5.3.1 (from pycaret[full])
  Using cached PyYAML-5.3.1.tar.gz (269 kB)
  Preparing metadata (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [51 lines of output]
      /opt/homebrew/lib/python3.11/site-packages/setuptools/config/setupcfg.py:293: _DeprecatedConfig: Deprecated config in `setup.cfg`
      !!

              ********************************************************************************
              The license_file parameter is deprecated, use license_files instead.

              This deprecation is overdue, please update your project and remove deprecated
              calls to avoid build errors in the future.

              See https://setuptools.pypa.io/en/latest/userguide/declarative_config.html for details.
              ********************************************************************************

      !!
        parsed = self.parsers.get(option_name, lambda x: x)(value)
      Traceback (most recent call last):
        File "<string>", line 2, in <module>
        File "<pip-setuptools-caller>", line 34, in <module>
        File "/private/var/folders/71/926qlt8x3fv4bqgl62w9vxb80000gn/T/pip-install-n7hhljnl/pyyaml_9d6e1a476b89484e9d5624cc4c91b5af/setup.py", line 291, in <module>
          setup(
        File "/opt/homebrew/lib/python3.11/site-packages/setuptools/_distutils/core.py", line 185, in setup
          return run_commands(dist)
                 ^^^^^^^^^^^^^^^^^^
        File "/opt/homebrew/lib/python3.11/site-packages/setuptools/_distutils/core.py", line 201, in run_commands
          dist.run_commands()
        File "/opt/homebrew/lib/python3.11/site-packages/setuptools/_distutils/dist.py", line 969, in run_commands
          self.run_command(cmd)
        File "/opt/homebrew/lib/python3.11/site-packages/setuptools/dist.py", line 989, in run_command
          super().run_command(command)
        File "/opt/homebrew/lib/python3.11/site-packages/setuptools/_distutils/dist.py", line 988, in run_command
          cmd_obj.run()
        File "/opt/homebrew/lib/python3.11/site-packages/setuptools/command/egg_info.py", line 318, in run
          self.find_sources()
        File "/opt/homebrew/lib/python3.11/site-packages/setuptools/command/egg_info.py", line 326, in find_sources
          mm.run()
        File "/opt/homebrew/lib/python3.11/site-packages/setuptools/command/egg_info.py", line 548, in run
          self.add_defaults()
        File "/opt/homebrew/lib/python3.11/site-packages/setuptools/command/egg_info.py", line 586, in add_defaults
          sdist.add_defaults(self)
        File "/opt/homebrew/lib/python3.11/site-packages/setuptools/command/sdist.py", line 113, in add_defaults
          super().add_defaults()
        File "/opt/homebrew/lib/python3.11/site-packages/setuptools/_distutils/command/sdist.py", line 251, in add_defaults
          self._add_defaults_ext()
        File "/opt/homebrew/lib/python3.11/site-packages/setuptools/_distutils/command/sdist.py", line 336, in _add_defaults_ext
          self.filelist.extend(build_ext.get_source_files())
                               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        File "/private/var/folders/71/926qlt8x3fv4bqgl62w9vxb80000gn/T/pip-install-n7hhljnl/pyyaml_9d6e1a476b89484e9d5624cc4c91b5af/setup.py", line 199, in get_source_files
          self.cython_sources(ext.sources, ext)
          ^^^^^^^^^^^^^^^^^^^
        File "/opt/homebrew/lib/python3.11/site-packages/setuptools/_distutils/cmd.py", line 107, in __getattr__
          raise AttributeError(attr)
      AttributeError: cython_sources
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.
Note: you may need to restart the kernel to use updated packages.

In [5]:
data = pd.read_csv('train.csv')
data

             DATETIMEDATA  PM25         O3  WS  TEMP    RH     WD
0     2024-01-01 00:00:00  16.5  16.000000   1  27.0  79.0  115.0
1     2024-01-01 01:00:00  33.6  11.326513   1  27.0  82.0   97.0
2     2024-01-01 02:00:00  34.2  11.326513   1  26.0  84.0   96.0
3     2024-01-01 03:00:00  20.1  11.326513   1  26.0  82.0  108.0
4     2024-01-01 04:00:00  16.5   1.000000   1  27.0  79.0  106.0
...                   ...   ...        ...  ..   ...   ...    ...
1411  2024-02-28 19:00:00  23.6  11.326513   1  29.0  64.0  184.0
1412  2024-02-28 20:00:00  25.2  11.326513   1  29.0  64.0  183.0
1413  2024-02-28 21:00:00  23.2   1.000000   1  29.0  64.0  159.0
1414  2024-02-28 22:00:00  24.7   3.000000   1  28.0  65.0  134.0
1415  2024-02-28 23:00:00  19.8   6.000000   1  28.0  65.0   94.0

[1416 rows x 7 columns]

In [6]:

from pycaret.regression import *
clf1 = setup(data, target='PM25', session_id = 123)

In [7]:
best = compare_models()

In [8]:
t_en = create_model('en')

In [9]:
tune_rf = tune_model(best)
bagged = ensemble_model(tune_rf , n_estimators=20)

Initiated  . . . . . . . . . . . . . . . . . .              21:10:15
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [10]:
test = pd.read_csv('test.csv')
predict_model(bagged,data=test)

,DATETIMEDATA,O3,WS,TEMP,RH,WD,PM25,prediction_label
0,2024-02-29 00:00:00,3.0,1,28.0,66.0,91.0,18.500000,18.628939
1,2024-02-29 01:00:00,24.0,1,27.0,68.0,96.0,16.100000,17.953123
2,2024-02-29 02:00:00,24.0,1,27.0,68.0,108.0,16.000000,17.884474
3,2024-02-29 03:00:00,26.0,1,27.0,68.0,98.0,15.400000,17.864035
4,2024-02-29 04:00:00,19.0,1,27.0,70.0,100.0,17.799999,18.082321
...,...,...,...,...,...,...,...,...
139,2024-03-05 19:00:00,5.0,1,29.0,69.0,116.0,23.299999,18.135102
140,2024-03-05 20:00:00,7.0,1,29.0,72.0,111.0,29.500000,18.023005
141,2024-03-05 21:00:00,1.0,1,29.0,73.0,108.0,28.500000,18.252090
142,2024-03-05 22:00:00,5.0,1,28.0,74.0,105.0,23.799999,18.303057
143,2024-03-05 23:00:00,1.0,1,28.0,77.0,88.0,23.100000,18.492549

In [15]:
import pandas as pd
from pycaret.regression import *

# Read the training data
train_data = pd.read_csv('train.csv')

# Convert 'DATETIMEDATA' column to datetime format
train_data['DATETIMEDATA'] = pd.to_datetime(train_data['DATETIMEDATA'])

# Set up the PyCaret regression environment
regression_setup = setup(train_data, target='PM25', session_id=123, date_features=['DATETIMEDATA'])

# Compare regression models and select the best one
best_model = compare_models()

# Create a Gradient Boosting Regressor model
rf_model = create_model('rf')

# Fine-tune the Random Forest Regressor model
tuned_rf_model = tune_model(best_model)

# Ensemble the tuned Random Forest Regressor model
bagged_model = ensemble_model(tuned_rf_model, n_estimators=20)

# Generate datetime values for the next week
start_date = pd.to_datetime('2024-03-06 00:00:00', format='%Y-%m-%d %H:%M:%S')  # Start date for next week
end_date = start_date + pd.DateOffset(days=6)  # End date for next week
next_week_dates = pd.date_range(start=start_date, end=end_date, freq='H')

# Create a DataFrame with 'DATETIMEDATA' column for the next week
next_week_data = pd.DataFrame({'DATETIMEDATA': next_week_dates})

# Predict PM25 for the next week
#next_week_predictions = predict_model(bagged_model, data=next_week_data)
modelpredict = predict_model(bagged_model, data=next_week_data)

mpdf = pd.DataFrame(modelpredict, columns = ['DATETIMEDATA', 'prediction_label'])

print(mpdf)
#print(next_week_predictions)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

           DATETIMEDATA  prediction_label
0   2024-03-06 00:00:00         22.112269
1   2024-03-06 01:00:00         22.112269
2   2024-03-06 02:00:00         22.112269
3   2024-03-06 03:00:00         22.112269
4   2024-03-06 04:00:00         22.112269
..                  ...               ...
140 2024-03-11 20:00:00         22.313977
141 2024-03-11 21:00:00         22.313977
142 2024-03-11 22:00:00         22.313977
143 2024-03-11 23:00:00         22.313977
144 2024-03-12 00:00:00         22.542177

[145 rows x 2 columns]